<!DOCTYPE html>
<html>
  <head>
    <title>CrmChallenge</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to "Mark Murillo CRM Challenge", root_path, class: "navbar-item" %>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Alphabetized", customers_alphabetized_path, class: "navbar-item" %>
          <%= link_to "Missing Emails", customers_missing_email_path, class: "navbar-item" %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
